In [1]:
#Unlike java u can use both "" and '' for string
s="Ritesh"

In [2]:
type(s)

str

In [3]:
#Index starts from zero
s[0]

'R'

In [4]:
s[-1]

'h'

In [5]:
s2="This my first programming class's demo!"

In [6]:
s2[8]

'f'

In [7]:
#To get indexes between ranges
s2[1:5]
#start from 1 go till 5 and exclude 5(upper bound)

'his '

In [8]:
#instead fo jumping one step jump two step at a time
s2[1:10:2]

'hsm i'

In [9]:
s3="Ritesh Kumar"

In [10]:
#it starts from 1 not 0,Indexing only start from zero
len(s3)

12

In [11]:
s3[0:12:2]

'Rts ua'

In [12]:
#0-8--> move in positive direction
#-1-->jump in negative direction
#it create contradiction so it will give blank..
s3[0:12:-1]

''

In [13]:
s3[12:0:-1]
# R is not coming as it is exculding zero

'ramuK hseti'

In [14]:
s3[13:0:-1]

'ramuK hseti'

In [15]:
#starting point not given end point is -3 and jump size is 1
# it will start from zero and go till where the index is -3.
s3[:-3]

'Ritesh Ku'

In [16]:
# Upper bound is not mentioned so it will take len(str)+1
s3[-2:]

'ar'

In [17]:
s3[::1]

'Ritesh Kumar'

In [18]:
s3[::-1]

'ramuK hsetiR'

In [19]:
s3[0:5000:1]

'Ritesh Kumar'

In [20]:
s4="Ritesh"

In [21]:
s4[-6:-1:1]

'Rites'

In [22]:
# both is available at upper bound so no result
s4[-6:0:1]

''

In [23]:
s4[-6:0:-1]

''

In [24]:
#no upper bound so start from zero and move in postive direction but jump in negative direction.
s4[:-1:-1]

''

In [25]:
s4

'Ritesh'

In [26]:
s4+'1'

'Ritesh1'

In [27]:
# as string is immutable
s4

'Ritesh'

In [28]:
len(s4)

6

In [29]:
s4.swapcase()

'rITESH'

In [30]:
s4*2

'RiteshRitesh'

In [31]:
s4.count('s')

1

In [32]:
s4.count('n')

0

In [33]:
s4.split('t')

['Ri', 'esh']

In [34]:
sw="Samsung Group,[3] or simply Samsung (Korean: 삼성; RR: samseong [samsʌŋ]) (stylized as SΛMSUNG), is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea."

In [35]:
sw.split(" ")

['Samsung',
 'Group,[3]',
 'or',
 'simply',
 'Samsung',
 '(Korean:',
 '삼성;',
 'RR:',
 'samseong',
 '[samsʌŋ])',
 '(stylized',
 'as',
 'SΛMSUNG),',
 'is',
 'a',
 'South',
 'Korean',
 'multinational',
 'manufacturing',
 'conglomerate',
 'headquartered',
 'in',
 'Samsung',
 'Town,',
 'Seoul,',
 'South',
 'Korea.']

In [36]:
#if u have multi lined string always use triple quote

In [37]:
sw2='''Samsung Group,[3] or simply Samsung (Korean: 삼성; RR: samseong [samsʌŋ]) (stylized as SΛMSUNG), is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the eighth highest global brand value.[4]

Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and JoongAng Group.

Notable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's second largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues).[11][12]

Etymology
According to Samsung's founder, the meaning of the Korean hanja word Samsung (三星) is "three stars". The word "three" represents something "big, numerous and powerful",[13] while "stars" means "everlasting" or "eternal", like stars in the sky.[14][15]'''

In [38]:
sw2

'Samsung Group,[3] or simply Samsung (Korean: 삼성; RR: samseong [samsʌŋ]) (stylized as SΛMSUNG), is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the eighth highest global brand value.[4]\n\nSamsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee\'s death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and JoongAng Group.\n\nNotable Samsung industrial affiliates include Samsung Electronics (the world\'s largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world\'s second largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world\'s 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world\'s 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world\'s 15th largest advertising agency, as measured by 2012 revenues).[11][12]\n\nEtymology\nAccording to Samsung\'s founder, the meaning of the Korean hanja word Samsung (三星) is "three stars". The word "three" represents something "big, numerous and powerful",[13] while "stars" means "everlasting" or "eternal", like stars in the sky.[14][15]'

In [39]:
s5="ritesh kumar"

In [40]:
#First letter of sentence is capital
s5.capitalize()

'Ritesh kumar'

In [41]:
# First letter of each word is capital
s5.title()

'Ritesh Kumar'

In [42]:
reversed(s5)
#it will return an object refernece

In [43]:
#joint object with ""
''.join(reversed(s5))

'ramuk hsetir'

In [44]:
s6="    Rit   esh    "

In [45]:
s6.strip()

'Rit   esh'

In [46]:
s6.lstrip()

'Rit   esh    '

In [47]:
s6.rstrip()

'    Rit   esh'

In [48]:
' '.join("Ritesh")

'R i t e s h'

In [49]:
'$'.join("Ritesh")

'R$i$t$e$s$h'

In [50]:
a='Ritesh'

In [51]:
a.center(20,"@")

'@@@@@@@Ritesh@@@@@@@'

In [52]:
a.isupper()

False

In [53]:
a.isspace()

False

In [54]:
# It check either alpha or numeric
a.isalnum()

True

In [55]:
a.isalpha()

True

Solve below
s = "this is My First Python programming class and i am learNING python string and its function"
1 . Try to extract data from index one to index 300 with a jump of 3 
2. Try to reverse a string without using reverse function 
3. Try to split a string after conversion of entire string in uppercase 
4. try to convert the whole string into lower case 
5 . Try to capitalize the whole string 
6 . Write a diference between isalnum() and isalpha()
7. Try to give an example of expand tab
8 . Give an example of strip , lstrip and rstrip 
9.  Replace a string charecter by another charector by taking your own example 
"Ritesh"
10 . Try  to give a defination of string center function with and exmple 
11 . Write your own definition of compiler and interpretor without copy paste form internet in your own language
12 . Python is a interpreted of compiled language give a clear ans with your understanding

In [56]:
s = "this is My First Python programming class and i am learNING python string and its function"

In [57]:
#1 . Try to extract data from index one to index 300 with a jump of 3 
s[1:301:3]

'h   r tnrrmglsnimeNGyosi dtfco'

In [58]:
#2. Try to reverse a string without using reverse function 
s[::-1]

'noitcnuf sti dna gnirts nohtyp GNINrael ma i dna ssalc gnimmargorp nohtyP tsriF yM si siht'

In [60]:
#3. Try to split a string after conversion of entire string in uppercase 
s.upper().split()

['THIS',
 'IS',
 'MY',
 'FIRST',
 'PYTHON',
 'PROGRAMMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRING',
 'AND',
 'ITS',
 'FUNCTION']

In [61]:
#4. try to convert the whole string into lower case 
s.lower()

'this is my first python programming class and i am learning python string and its function'

In [62]:
#5 . Try to capitalize the whole string 
s.capitalize()

'This is my first python programming class and i am learning python string and its function'

In [64]:
#6 . Write a diference between isalnum() and isalpha()
# Alphanumeric contain check wheteher string contain both alphabet and numeric or not
s.isalnum()

False

In [66]:
# It will check any alphabet is there or not
s.isalpha()
#function returns False because the string contains spaces, numbers, and punctuation marks such as spaces, periods, and commas.

False

In [69]:
#7. Try to give an example of expand tab
s.expandtabs()

'this is My First Python programming class and i am learNING python string and its function'

In [70]:
a = 'this\tis\tmy\tstring'
print(a)

this	is	my	string

In [71]:
expanded_string = a.expandtabs()
print(expanded_string)

this    is      my      string

By default, expandtabs() replaces a tab character with 8 spaces. However, you can provide an optional argument to specify a different tab size. For example, s.expandtabs(4)

In [72]:
#8 . Give an example of strip , lstrip and rstrip 
a="    Ritesh   Kumar  Nahak       "

In [73]:
a.lstrip()

'Ritesh   Kumar  Nahak       '

In [74]:
a.rstrip()

'    Ritesh   Kumar  Nahak'

In [75]:
a.strip()

'Ritesh   Kumar  Nahak'

In [77]:
#9.  Replace a string character by another charector by taking your own example "Ritesh"
a="Ritesh"
a.replace('t','x')

'Rixesh'

In [78]:
#10 . Try  to give a defination of string center function with and exmple 
a.center(10," ")

'  Ritesh  '

a compiler translates the entire source code into machine code or bytecode before execution, while an interpreter reads and executes the source code line by line without prior translation. Compilers provide faster execution but require a separate compilation step, while interpreters offer interactivity and ease of use at the cost of potentially slower execution speed.

Python is typically referred to as an interpreted language. The Python interpreter reads and executes the source code line by line without a separate compilation step. This means that Python code is not compiled into machine code before execution, as is the case with languages like C or Java.